section {
  padding-top: 128px;
  padding-bottom: 128px;
  position: relative;
}

section::before {
  z-index: -1;
  content: "";
  font-size: 72px;
  color: grey;
  position: absolute;
  font-weight: 700;
  opacity: 0.4;
  top: 0px;
  left: -30px;
}

.home h1 {
  font-size: 72px;
}

.home h3 {
  font-size: 48px;
}

.navbar {
  background-color: white;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.btn.button {
  border: 3px solid black;
  border-radius: 32px;
}

.btn.button:hover,
.btn.button.active {
  border: 3px solid black;
  background-color: black;
  color: white;
}

.arrow {
  width: 70px;
}

#arrow {
  animation: 2s upDown infinite;
}

.about::before {
  content: "About";
}

.about-exp {
  margin-top: 32px;
}

.about-exp-item {
  margin-top: 18px;
}

.about-exp-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-exp-item-detail {
  display: none;
}

.project::before {
  content: "Project";
}

.project-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "project-1 project-2" "project-3 project-3";
  gap: 16px;
}

.project-img img {
  width: 100%;
}

.project-img-items {
  position: relative;
}

.project-img-items:hover::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-1:hover::after {
  content: "E-Commerce Project";
}

#project-1 {
  grid-area: project-1;
}

#project-2:hover::after {
  content: "Portfolio Project";
}

#project-2 {
  grid-area: project-2;
}

#project-3:hover::after {
  content: "Company Profile Project";
}

#project-3 {
  grid-area: project-3;
}

.contact::before {
  content: "Contact";
}

.icon-contact {
  width: 48px;
  height: 48px;
}

.form-contact {
  border: 1px solid black;
  padding: 64px 32px;
}

.form-label {
  font-weight: 700;
  font-size: 18px;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0);
  }
}
